.logos {
  transition: all 0.5s;
  position: relative;
  height: 43%;
  width: 43%;
}

.svgLogos {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 26%;
  left: 65%;
  transition: all .7s;
}

.svgLogos.redux {
  top: 22%;
}

.svgLogos.apollo {
  top: 15%;
}

.svgLogos.nodejs {
  top: 20%;
}

.svgLogos.webpack {
  top: 20%;
}

.svgLogos.expressjs {
  font: 4vw helvetica neue, open sans, sans-serif;
  text-shadow: 2px 2px black;
  font-weight: 100;
  /* line-height: 220%; */
  top: 60%;
  color: #969696;
  transition: all .2s;
}

.svgLogos.mongodb {
  top: 35%;
}

@media only screen and (max-width: 1600px) {
  .svgLogos, .svgLogos.redux, .svgLogos.apollo {
    top: 40%;
    transition: all .7s;
  }
}

@media only screen and (max-width: 1300px) {
  .logos {
    width: 45%;
  }
  .svgLogos.mongodb {
    height: 70%;
    width: 70%;
    padding-top: 6%;
  }
  .svgLogos.expressjs {
    font-size: 300%;
  }
}

@media only screen and (max-width: 900px) {
  .svgLogos.expressjs {
    font-size: 300%;
  }
}

@media only screen and (max-width: 600px) {
  .svgLogos.expressjs {
    font-size: 200%;
    transition: all .2s;
  }
}

.reduxLogo_circle {
  opacity: 0;
  transition: all 0.5s;
}

.reactLogo_circle {
  opacity: 0;
  transition: all 0.5s;
}

.apolloLogo_circle {
  opacity: 0;
  transition: all 0.5s;
}

.graphqlLogo_circle {
  opacity: 0;
  transition: all 1s;
}

.apolloLogo_A {
  opacity: 0;
  transition: all 0.5s;
}

.nodejsLogo_S {
  opacity: 0;
}

.reduxLogo_circle_entered {
  opacity: 1;
  transition-delay: 0.75s;
}

.reactLogo_circle_entered {
  opacity: 1;
  transition-delay: 0.75s;
}

.apolloLogo_circle_entered {
  opacity: 1;
  transition-delay: 0.75s;
}

.graphqlLogo_circle_entered {
  opacity: 1;
}

.apolloLogo_A_entered {
  opacity: 1;
  transition-delay: 0.75s;
}

.nodejsLogo_S_entered {
  opacity: 1;
  transition: all 2.5s;
}