.logos {
  transition: all 0.5s;
  position: relative;
  height: 43%;
  width: 43%;
}

.svgLogos {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 32%;
  left: 62.5%;
}

.svgLogos.redux {
  top: 32%;
}

.svgLogos.apollo {
  top: 24%;
}

.expressLogo {
  font: 4vw helvetica neue, open sans, sans-serif;
  text-shadow: 2px 2px black;
  font-weight: 100;
  line-height: 220%;
  color: #969696;
  transition: all .2s;
}

.mongoLogo {
  height: 100%;
  width: 100%;
  padding-top: 11%;
}

@media only screen and (max-width: 1300px) {
  .logos {
    height: 45%;
    width: 45%;
  }
  .mongoLogo {
    height: 70%;
    width: 70%;
    padding-top: 6%;
  }
  .expressLogo {
    font-size: 300%;
  }
}

@media only screen and (max-width: 900px) {
  .expressLogo {
    font-size: 300%;
  }
}

@media only screen and (max-width: 600px) {
  .expressLogo {
    font-size: 200%;
    transition: all .2s;
  }
}

.reduxLogo_circle {
  opacity: 0;
  transition: all 0.5s;
}

.reactLogo_circle {
  opacity: 0;
  transition: all 0.5s;
}

.apolloLogo_circle {
  opacity: 0;
  transition: all 0.5s;
}

.graphqlLogo_circle {
  opacity: 0;
  transition: all 1s;
}

.apolloLogo_A {
  opacity: 0;
  transition: all 0.5s;
}

.nodejsLogo_S {
  opacity: 0;
}

.reduxLogo_circle_entered {
  opacity: 1;
  transition-delay: 0.75s;
}

.reactLogo_circle_entered {
  opacity: 1;
  transition-delay: 0.75s;
}

.apolloLogo_circle_entered {
  opacity: 1;
  transition-delay: 0.75s;
}

.graphqlLogo_circle_entered {
  opacity: 1;
}

.apolloLogo_A_entered {
  opacity: 1;
  transition-delay: 0.75s;
}

.nodejsLogo_S_entered {
  opacity: 1;
  transition: all 2.5s;
}