@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:500,700');
html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
}
