/* @import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  background: radial-gradient(circle, #2c4366, #263a5a, #20314e, #1a2842, #142037);
  /* background: radial-gradient(circle, rgba(4, 57, 59, 1) 0%, rgba(3, 36, 37, 0.9556197478991597) 37%, rgba(0, 0, 0, 1) 100%); */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.descriptor {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2.5em;
}