@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  background: radial-gradient(circle, #2c4366, #263a5a, #20314e, #1a2842, #142037);
  /* background: radial-gradient(circle, rgba(4, 57, 59, 1) 0%, rgba(3, 36, 37, 0.9556197478991597) 37%, rgba(0, 0, 0, 1) 100%); */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1rem;
  overflow-x: hidden;
}

.logo_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5% 5%;
  padding: 5%;
  overflow: visible;
  transition-delay: 2s;
}

@media only screen and (max-width: 1300px) {
  .logo_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .logo_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .logo_container {
    grid-template-columns: 1fr;
  }
}

.descriptor {
  text-align: center;
  font-size: 200%;
}

.logoCard {
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all 0.25s;
  text-align: center;
  /* padding-top: 30px; */
  padding: 5% 0 5% 0;
  clip: rect(2em, 0, 2em, 0);
}

.selected {
  margin-bottom: 200px;
  /* background: #ff0; */
  box-shadow: 25px 25px 50px 2px rgba(0, 0, 0, 0.2);
}

.logoCard:hover {
  box-shadow: 25px 25px 50px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.75s;
}