html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
}
