@mixin opacityToggle($tDuration:0.5s, $tDelay:0.75s) {
  opacity: 0;
  &.visible {
    opacity: 1;
    transition: opacity $tDuration $tDelay;
  }
}

.svgLogos {
  width: 100%;
  padding: 10%;
  position: relative;
  &.react {
    .circle {
      @include opacityToggle()
    }
  }
  &.apollo {
    position: relative;
    bottom: 4%;
    .circle {
      @include opacityToggle()
    }
    .letter_A {
      @include opacityToggle()
    }
  }
  &.redux {
    .circle {
      @include opacityToggle()
    }
  }
  .nodejs {
    .letter_S {
      @include opacityToggle(2.5s, 0s);
    }
  }
  .nodejsLogo_S {
    opacity: 0;
    &.visible {
      opacity: 1;
      transition: opacity 2.5s;
    }
  }
  .mongodb {
    width: 18em;
    padding: 5em 0 5em 0;
    filter: blur(20px);
    &.visible {
      filter: blur(0);
      transition: filter 1.75s;
    }
  }
}