@mixin opacityToggle($tDuration:0.5s, $tDelay:0.75s) {
  opacity: 0;
  &.visible {
    opacity: 1;
    transition: opacity $tDuration $tDelay;
  }
}

.svgLogos {
  width: 99.5%;
  padding: 10%;
  position: relative;
  &.html {
    /* width: 99%; */
    bottom: 4%;
  }
  &.css {
    width: 90%;
    bottom: 4%;
  }
  &.sass {
    $sassColor: #CD6799;
    top: 5%;
    width: 105%;
    .path {
      fill: transparent;
      stroke-width: 2.5;
      stroke: $sassColor;
      &.visible {
        fill: $sassColor;
        transition: fill 1s 1.5s, stroke 0.25s 3s;
        stroke: transparent;
      }
    }
  }
  &.react {
    .circle {
      @include opacityToggle();
    }
  }
  &.redux {
    bottom: 3%;
    .circle {
      @include opacityToggle();
    }
  }
  &.apollo {
    bottom: 5%;
    .circle {
      @include opacityToggle();
    }
    .letter_A {
      @include opacityToggle();
    }
  }
  &.nodejs {
    .letter_S {
      @include opacityToggle(2.5s, 0);
    }
  }
  &.graphql {
    .circle {
      @include opacityToggle();
    }
  }
  &.mongodb {
    width: 18em;
    padding: 5em 0 5em 0;
    filter: blur(20px);
    &.visible {
      filter: blur(0);
      transition: filter 1.75s;
    }
  }
}