.codewrapper {
  display: inline-flex;
}

.codewrapper .background {
  background: radial-gradient(circle, rgba(4, 59, 6, 0.7) 0%, rgba(6, 37, 3, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%);
  height: 200vh;
  width: 97vw;
  align-self: center;
  margin: 1vw;
  border-radius: 5px;
  position: absolute;
  filter: blur(7px);
  box-shadow: 0px 0px 50px 50px rgba(2, 6, 1, 0.8);
}

.codewrapper .prompt,
.codewrapper .text {
  color: white;
  font-family: "Ubuntu Mono";
  font-size: 1.5em;
  top: 5vh;
  left: 4vw;
  position: relative;
}

.codewrapper .prompt {
  margin-right: 0.5em
}

.codewrapper .text {
  display: none;
}

.codewrapper .text.typewriter {
  display: inherit;
  overflow: hidden;
  padding-right: 5px;
  border-right: .15em solid white;
  white-space: nowrap;
  letter-spacing: .05em;
  animation: typing 1.75s steps(44, end), blinking-caret .50s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blinking-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}

.codewrapper .consoleout {
  color: white;
  border-radius: 2.5em;
  background: black;
  border: 5px solid #878c8e;
  box-shadow: 2px 5px 15px 5px black;
  height: 20em;
  width: 30em;
  padding: 2em;
  position: absolute;
  bottom: 12em;
  right: 10em;
  display: none;
}

.consoleout>div {
  font-family: 'K2D', sans-serif;
  
  font-size: 2.5em;
  padding: 10px;
  white-space: nowrap;
}

.consoleout>div:nth-child(2) {
  text-align: right;
  padding-top: 3em;
}