$bgImage_fe: url('../images/bg_code2.jpg');
$bgImage_be: url('../images/bg_sparks.jpg');
$bgImage_tl: url('../images/bg_buildings.jpg');
$bgImage_ot: url('../images/bg_windmills.jpg');

@mixin backgroundMediaQuery($bgWidth,
$bgHeight) {
  @media screen and (max-width: $bgWidth) {
    height: $bgHeight;
  }
  @media screen and (max-height:900px) {
    height: $bgHeight;
  }
}

.masterContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
  z-index: -1;
  @media screen and (max-height: 900px) {
    height: auto;
  }
  @media screen and (max-width: 856px) {
    height: auto;
  }
  background: rgb(14,
  14,
  14);
  clip-path: polygon(100% 0,
  100% 100%,
  0% 100%,
  0 0);
  .background {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    z-index: 1;
    &.frontend {
      background-image: $bgImage_fe;
      @include backgroundMediaQuery(855px,
      302vh);
    }
    &.backend {
      background-image: $bgImage_be;
      @include backgroundMediaQuery(892px,
      216vh);
    }
    &.tools {
      background-image: $bgImage_tl;
      &.enter {
        filter: blur(7px) grayscale(50%);
      }
      @include backgroundMediaQuery(856px,
      278vh);
    }
    &.other {
      background-image: $bgImage_ot;
      &.enter {
        filter: blur(9px) grayscale(15%);
      }
      @include backgroundMediaQuery(892px,
      201vh);
    }
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    filter: blur(1.5px) grayscale(20%);
    &.enter {
      transition: filter 1s;
      filter: blur(10px) grayscale(70%);
    }
  }
  .descriptor {
    background-image: linear-gradient(to left, #2c4366, #263a5a, #20314e, #1a2842, #142037);
    transition: all 1s;
    display: flex;
    flex-wrap: row wrap;
    opacity: 0.5;
    flex: 2;
    z-index: 1;
    box-shadow: 0px 1px 35px 7.5px black;
    &.enter {
      flex: 1.5;
      opacity: 1;
      transition: opacity 1.5s;
    }
    .titleContainer {
      flex: 1 1;
      padding: 2%;
      display: flex;
      align-self: center;
      .title {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-shadow: 5px 4px 7px rgb(0, 0, 0);
        color: white;
        transition: text-shadow 0.5s;
        font-size: 3.5em;
        font-weight: 700;
      }
      .animationContainer {
        .animationText {
          opacity: 0;
        }
        &.enter {
          .animationText {
            opacity: 1;
            transition: opacity 0.1s 1s;
          }
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 10;
            right: 50;
            height: 100%;
            z-index: 10;
          }
          &:before {
            background: white;
            transform: scaleY(1.0);
            animation: revealAnimRTL 1.8s ease;
          }
        }
      }
    }
    @media screen and (max-width: 625px) {
      flex-direction: column;
    }
  }
  .content {
    transition: all 1s;
    flex: 2;
    align-items: center;
    &.enter {
      transition: flex 2s;
      flex: 4;
    }
  }
  .blurbContainer {
    flex: 2;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    color: white;
    @media screen and (max-width: 625px) {
      font-size: 1.1em;
      text-align: center;
      white-space: pre-wrap;
    }
    .blurb {
      position: relative;
      margin-bottom: 15px;
      .bg {
        border-top: 5px solid rgba(255, 255, 255, 0.342);
        border-bottom: 5px solid rgba(255, 255, 255, 0.342);
        position: absolute;
        /* bottom: 0%; */
        background: rgba(0, 0, 0, 0.322);
        height: 100%;
        width: 100%;
      }
      .blurbText {
        padding: 2.5% 2.5%;
        text-shadow: 1px 1px 7px black;
      }
    }
  }
}

@keyframes revealAnimLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes revealAnimRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}