@mixin opacityToggle($tDuration: 0.5s, $tDelay: 0s) {
  opacity: 0;
  transition: opacity $tDuration;
  &.selected {
    opacity: 1;
    transition: opacity $tDuration $tDelay;
  }
}

.cardContainer {
  align-self: center;
  display: flex;
  padding: 0em 0em 2em 2.5em;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* height: 80%; */
  transform: scale(0.9);
  .card {
    height: auto;
    width: 20em;
    z-index: 1;
    transition: all 0.3s;
    text-align: center;
    position: relative;
    transform: scale(1.05);
    padding: 2em 0;
    .inner {
      width: 80%;
      text-align: center;
      position: relative;
      transition: all 0.3s;
      transform: scale(1);
      height: 100%;
      background: rgba(13, 46, 60, 0.603);
      box-shadow: 0 7px 15px 2px rgba(10, 10, 10, 0.295);
      border-radius: 6%;
      .card-logo {
        transform: scale(1.15);
        .svgLogos {
          height: 10em;
          width: 10em;
          margin-top: 12%;
          padding-top: 10%;
          transition: all 0.3s;
        }
        &.ejs {
          transition: padding 0.3s;
          padding: 4.75em 0 1em 0;
        }
      }
      .title {
        display: inline-block;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        opacity: 0;
        color: white;
        padding: 8% 2%;
        text-decoration: underline;
        cursor: default;
      }
      &:hover {
        background: rgba(13, 46, 60, 0.781);
        box-shadow: 0 1px 10px 5px rgba(49, 49, 49, 0.582);
        border-radius: 10%;
        .card-logo {
          .svgLogos {
            transition: all 0.3s;
            padding-top: 3%;
          }
          &.ejs {
            transition: padding 0.3s;
            padding: 3.75em 0 3em 0;
          }
        }
        .title {
          opacity: 1;
          transition: opacity 0.5s;
          font-size: 1em;
          transform: scale(1.6);
        }
      }
    }
  }
}

@media screen and (max-width: 1455px) {
  .cardContainer {
    padding: 0em 0em 0em 0em;
    transform: scale(0.875);
  }
}