$bgImage: url("../images/bg_buildings2.jpg");
$wbgImage: url("../images/bg_code3.jpg");
.endContainer {
  height: 100vh;
  background: rgb(21, 22, 32);
  z-index: -1;
  display: flex;
  align-items: center;
  .background {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    background-image: $bgImage;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(7px) grayscale(10%);
    z-index: 0;
  }
  .windowContainer {
    z-index: 1;
    padding: 15%;
    .window {
      border-radius: 3%;
      border: 3px solid white;
      box-shadow: 0 0 25px 7.5px black;
      height: 0em;
      .window_bg {
        position: fixed;
        background-image: $wbgImage;
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
        z-index: 5;
      }
      .textBox {
        display: flex;
        flex-flow: column;
        .text {
          opacity: 0;
          flex: 1;
          color: white;
          text-align: center;
          font-size: 2em;
          left: 50%;
          z-index: 2;
        }
        a.gh_icon {
          z-index: 1;
          flex: 1;
          opacity: 0;
          .iconContainer {
            background: rgba(41, 41, 51, 0.671);
            width: 25%;
            padding: 2%;
            box-shadow: 0 0 20px 1px rgba(24, 24, 29, 0.856);
            transition: background 0.5s, box-shadow 0.5s, transform 0.5s;
            &:hover {
              background: rgba(25, 25, 31, 0.671);
              box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
              transform: scale(1.1);
              transition: background 0.25s, box-shadow 0.25s, transform 0.25s;
              cursor: pointer;
            }
          }
        }
      }
      &.visible {
        height: 35em;
        transition: height 1s;
        .text,
        .gh_icon {
          opacity: 1;
          transition: opacity 1.25s 0.25s;
        }
      }
    }
  }
  .clickouts {
    z-index: 1;
  }
}