$bgImage: url("../images/bg_buildings2.jpg");
$wbgImage: url("../images/bg_code3.jpg");
.endContainer {
  height: 100vh;
  background: rgb(21, 22, 32);
  z-index: -1;
  display: flex;
  flex-direction: column;
  color: white;
  align-content: center;
  justify-content: end;
  .background {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    background-image: $bgImage;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(7px) grayscale(10%);
    z-index: 0;
  }
  >div {
    z-index: 1;
    flex: 1;
  }
  .ghClickout {
    display: flex;
    padding-top: 5%;
    @media screen and (max-width: 760px) {
      flex-direction: column;
    }
    >div {
      display: inline;
    }
    .text {
      flex: 2;
      text-align: center;
      /* padding-top: 6%; */
      font-size: 2em;
    }
    .link {
      flex: 1;
      .icon {
        width: 40%;
        @media screen and (max-width: 760px){
          width: 30%;
          position: relative;
          left:35%;
          padding-bottom: 5%;
        }
        .iconLink {
          padding: 3.5%;
          background: rgba(0, 0, 0, 0.61);
          border-radius: 50%;
          transition: transform 0.5s, box-shadow 0.5s;
          cursor: pointer;
          &:hover {
            border-radius: 50%;
            box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.336);
            transform: scale(1.2);
            transition: transform 0.5s, box-shadow 0.5s;
          }
        }
      }
    }
  }
  .emailWindow {
    font-size: 2.5em;
    padding-bottom: 5%;
    .box {
      background: rgba(0, 0, 0, 0.315);
      height: 0%;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      &.visible {
        height: 100%;
        transition: height 0.5s;
      }
      >div {
        text-align: center;
        padding: 5% 1.7em;
        opacity: 0;
        flex: 1;
      }
      .text {
        color: yellow;
        &.visible {
          opacity: 1;
          transition: opacity 0.5s 0.25s;
        }
      }
      .email {
        @media screen and (max-width: 700px) {
          font-size: 2rem;
        }
        @media screen and(max-width:500px) {
          font-size: 1.55rem;
        }
        @media screen and(max-width:320px) {
          font-size: 1.3rem;
        }
        &.visible {
          opacity: 1;
          transition: opacity 0.5s 0.35s;
        }
      }
    }
  }
}