.stack-container {
  height: 100vh;
  width: 100vw;
  background: rgb(155, 155, 155);
  display: flex;
  flex-flow: column;
  @media screen and (max-width: 1472px) {
    height: auto;
  }
  .title-container {
    display: flex;
    align-self: center;
    padding: 1%;
    &.other{
      padding:5%;
      /* @media screen and (max-width: 1472px) {
        padding-bottom:10%;
      } */
    }
    .title {
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-size: 3em;
      font-weight: 800;
      color: rgb(255, 255, 255);
      text-shadow: 1px 2px 5px rgba(27, 27, 27, 0.767);
    }
    .anim-container {
      .anim-text {
        opacity: 0;
      }
      &.enter {
        .anim-text {
          opacity: 1;
          transition: opacity 0.1s 1s;
        }
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 10;
          right: 50;
          height: 100%;
          z-index: 10;
        }
        &:before {
          background: rgb(32, 32, 32);
          animation: revealAnimRTL 1.8s ease;
        }
      }
    }
  }
}

@media screen and (max-width: 1472px) {
  .stack-container {
    height: auto;
  }
  .title-container {
    margin-top: 0%;
  }
}

@keyframes revealAnimRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}