nav.main-nav {
  position: relative;
  background: rgb(214, 214, 214);
  z-index: 1;
  ul {
    margin: 0;
    padding: 5px 15px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    /* border-bottom: 2px solid rgb(85, 85, 85);
    box-shadow: 0px 0px 5px 0.1px #000000; */
    li {
      padding: 0.5% 1.5%;
    }
  }
  a {
    &.gh-icon {
      padding: 0.5rem;
      border-radius: 50%;
    }
    line-height: 50px;
    padding: 0.4rem 0.5rem;
    border-radius: 2.5;
    font-size: 1.5em;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    transition: color 0.3s,
      background 0.3s,
      padding 0.3s,
      font-size 0.3s;
    &:hover,
    &:focus {
      transition: all 0.3s;
      background: rgb(37, 37, 37);
      color: rgb(255, 255, 255);
      padding: 0.4rem 1rem;
      font-size: 1.75em;
      svg {
        path {
          fill: rgb(218, 218, 218) !important;
        }
      }
      &.gh-icon {
        padding: 0.5rem;
      }
    }
    .icon {
      width: 55px;
      align-self: auto;
      path {
        fill: black !important;
      }
    }
  }
  /* span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #888;
    margin: 0.25rem 0 0 0;
  } */
  /* .icon {
    width: 40px;
    height: 40px;
    // float: left;
    // margin-right: 1rem;
    fill: #999;
  } */
}