nav.main-nav {
  background: rgb(155, 155, 155);
  z-index: 1;
  ul {
    margin: 0;
    padding: 5px 15px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    li {
      padding: 0.5% 1.5%;
      cursor: pointer;
    }
  }
  a {
    &.gh-icon {
      padding: 0.5rem;
      border-radius: 50%;
    }
    line-height: 50px;
    padding: 0.4rem 0.5rem;
    border-radius: 2.5;
    font-size: 1.5em;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(36, 36, 36);
    transition: color 0.3s,
    background 0.3s,
    padding 0.3s,
    font-size 0.3s;
    &:hover,
    &:focus {
      transition: all 0.3s;
      background: rgb(24, 24, 24);
      color: rgb(256, 256, 256);
      padding: 0.4rem 1rem;
      font-size: 1.75em;
      svg {
      
        path {
          fill: rgb(256, 256, 256) !important;
        }
      }
      &.gh-icon {
        transform: scale(1.20);
        padding: 0.5rem;
      }
    }
    .icon {
      width: 55px;
      align-self: auto;
      path {
        fill: rgb(24, 24, 24) !important;
      }
    }
  }
}